# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
.turbo
coverage
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea
*.swp
*.swo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Prisma
*.db
*.db-journal

# Terraform
infra/terraform/.terraform
infra/terraform/*.tfstate
infra/terraform/*.tfstate.backup
infra/terraform/*.tfplan
